* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Creepster', monospace;
}
body {
    height: 100vh;
    background: #05080f;
    overflow: hidden;
    color: #c7f7ff;
}
.background {
    position: fixed;
    inset: 0;
    z-index: -2;
    background: radial-gradient(circle at top,#0a1a2f,#020409);

}
.mesh  {
    position: absolute;
    inset: 0;
    background-image: 
    linear-gradient(rgba(0,255,255,0.07) 1px, transparent 1px),
    linear-gradient(90deg ,rgba(0,255,255,0.07) 1px, transparent 1px);
    background-size: 40px 40px;
    animation: drift 20s linear infinite;
    filter: drop-shadow(0 0 6px cyan);
}
@keyframes drift {
    from {transform: translateY(0);}
    to {transform: translateY(40px);}
}
.game-shell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
    padding: 20px;
}
.canvas-container {
    padding: 15px;
    border-radius: 20px;
    background: rgba(0,255,255,0.05);
    box-shadow: 
    0 0 30px rgba(0,255,255,0.3),
    inset 0 0 20px rgba(0,255,255,0.02);
    backdrop-filter: blur(12px);
}
canvas{
    border-radius: 12px;
}
.hud {
    width: 200px;
    padding: 20px;
    background: rgba(10,20,40,0.6);
    border: 1px solid rgba(0,255,255,0.03);
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0,255,255,0.25);
    backdrop-filter: blur(10px);
}
.hud h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: cyan;
    letter-spacing: 2px;
}
.hud ul {
    list-style: none;
}
.hud li {
    margin: 8px 0;
    font-size: 14px;
}
.hud span {
    color: #00ffff;
    font-weight: bold;
}
.ok {
    color: #00ff88;
}
.game-title {
    text-align: center;
    margin-bottom: 12px;
    font-size: 28px;
    letter-spacing: 4px;
    color: #dfffff;
    text-shadow: 
    0 0 6px rgba(0,255,255,0.8),
     0 0 14px rgba(0,255,255,0.6),
      0 0 28px rgba(0,255,255,0.4);
    animation: glowPulse 3s ease-in-out infinite;
    user-select: none;
}
@keyframes glowPulse {
    0%,100% {
        text-shadow:
        0 0 6px rgba(0,255,255,0.6),
     0 0 14px rgba(0,255,255,0.4),
      0 0 28px rgba(0,255,255,0.2);
    }
    50% {
        text-shadow: 
        0 0 12px rgba(0,255,255,1),
        0 0 28px rgba(0,255,255,0.8),
        0 0 48px rgba(0,255,255,0.6);
    }
}
.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

#player,#layer1,#layer2,#layer3,#layer4,#layer5,#enemy_fly,#enemy_plant,#enemy_spider_big , #fire ,#collisionAnimation, #lives{
    display: none;
}