* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Creepster', monospace;
}
body {
    height: 100vh;
    background: #05080f;
    overflow: hidden;
    color: #c7f7ff;
}
.background {
    position: fixed;
    inset: 0;
    z-index: -2;
    background: radial-gradient(circle at top,#0a1a2f,#020409);

}
.mesh  {
    position: absolute;
    inset: 0;
    background-image: 
    linear-gradient(rgba(0,255,255,0.07) 1px, transparent 1px),
    linear-gradient(90deg ,rgba(0,255,255,0.07) 1px, transparent 1px);
    background-size: 40px 40px;
    animation: drift 20s linear infinite;
    filter: drop-shadow(0 0 6px cyan);
}
.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}
#canvas1{
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%; 
    font-family: "Creepster", cursive;
}
#player,#layer1,#layer2,#layer3,#layer4,#layer5,#enemy_fly,#enemy_plant,#enemy_spider_big , #fire ,#collisionAnimation, #lives{
    display: none;
}