* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Creepster', monospace;
}
body {
    height: 100vh;
    background: #05080f;
    overflow: hidden;
    color: #c7f7ff;
}
.background {
    position: fixed;
    inset: 0;
    z-index: -2;
    background: radial-gradient(circle at top,#0a1a2f,#020409);

}
.mesh  {
    position: absolute;
    inset: 0;
    background-image: 
    linear-gradient(rgba(0,255,255,0.07) 1px, transparent 1px),
    linear-gradient(90deg ,rgba(0,255,255,0.07) 1px, transparent 1px);
    background-size: 40px 40px;
    animation: drift 20s linear infinite;
    filter: drop-shadow(0 0 6px cyan);
}
@keyframes drift {
    from {transform: translateY(0);}
    to {transform: translateY(40px);}
}
.music-btn{
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);

    padding: 18px 50px;
    font-size: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;

    font-family: 'Creepster',cursive;
    color: #00ffe7;

    background: rgba(0,255,231,0.08);
    border: 2px solid #00ffe7;
    border-radius: 14px;
    cursor:  pointer;
    z-index: 100;

    box-shadow: 
        0 0 10px #00ffe7,
        0 0 25px rgba(0, 255, 231, 0.5),
        inset 0 0 15px rgba(0, 255, 231, 0.3);
    transition: all 0.25s ease;
    backdrop-filter: blur(6px);

}
.music-btn:hover {
    background: rgba(0, 255, 231, 0.15);
    box-shadow:  0 0 20px #00ffe7,
        0 0 40px rgba(0, 255, 231, 0.8);
    transform: translateX(-50%) scale(1.05);
}
.music-btn:active {
    transform: translateX(-50%) scale(0.95);
}
.music-btn:focus {
    outline: none;
}
.game-shell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
    padding: 20px;
}
.canvas-container {
    padding: 15px;
    border-radius: 20px;
    background: rgba(0,255,255,0.05);
    box-shadow: 
    0 0 30px rgba(0,255,255,0.3),
    inset 0 0 20px rgba(0,255,255,0.02);
    backdrop-filter: blur(12px);
}
canvas{
    border-radius: 12px;
}
.hud {
    font-size: 30px;
    width: 250px;
    padding: 30px;
    background: rgba(10,20,40,0.7);
    border: 1px solid rgba(0,255,255,0.5);
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0,255,255,0.4);
    backdrop-filter: blur(10px);
}
.hud h2 {
    font-size: 30px;
    margin-bottom: 15px;
    color: cyan;
    letter-spacing: 3px;
}
.hud ul {
    list-style: none;
}
.hud li {
    margin: 12px 0;
    font-size: 30px;
}
.hud span {
    color: #00ffff;
    font-weight: bold;
}
.ok {
    color: #00ff88;
}
@keyframes glowPulse {
    0%,100% {
        text-shadow:
        0 0 6px rgba(0,255,255,0.6),
     0 0 14px rgba(0,255,255,0.4),
      0 0 28px rgba(0,255,255,0.2);
    }
    50% {
        text-shadow: 
        0 0 12px rgba(0,255,255,1),
        0 0 28px rgba(0,255,255,0.8),
        0 0 48px rgba(0,255,255,0.6);
    }
}
.game-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 48px;
    letter-spacing: 6px;
    color: #dfffff;
    text-shadow: 
    0 0 6px rgba(0,255,255,0.9),
     0 0 14px rgba(0,255,255,0.7),
      0 0 28px rgba(0,255,255,0.5);
    animation: glowPulse 3s ease-in-out infinite;
    user-select: none;
}
.game-subtitle {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: rgba(200,255,255,0.9);
}
.game-subtitle span {
    color: #00ffff;
    font-weight: bold;
}
.reset-btn {
    display: block;
    margin: 0 auto 25px auto;
    padding : 12x 28px;
    font-size:  35px;
    letter-spacing: 2px;
    color: #00ffff;
    background: transparent;
    border: 1px solid rgba(0,255,255,0.7);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 
    0 0 10px rgba(0,255,255,0.6),
    inset 0  0 10px rgba(0,255,255,0.3);
    transition: all 0.25s ease;
}
.reset-btn:hover {
    background: rgba(0,255,255,0.1);
    box-shadow:
    0 0 20px rgba(0,255,255,0.8),
    inset 0 0 15px rgba(0,255,255,0.4);
    transform: scale(1.05);
}
.reset-btn:active {
    transform: scale(0.95);
}
.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

#player,#layer1,#layer2,#layer3,#layer4,#layer5,#enemy_fly,#enemy_plant,#enemy_spider_big , #fire ,#collisionAnimation, #lives{
    display: none;
}